.main {
  background-color: #1a1a1a;
  display: inline-block;
  height: 98px;
  border: 1px solid #585858;
  cursor: pointer;

  & > span {
    margin: 5px;
    color: #ffffff;
    display: block;
    width: calc(100% - 10px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .name {
    min-height: 22px;
  }

  .time {
    font-size: 12px;
  }
}

.main:hover {
  background-color: #44454E;
}
